fastapi
uvicorn[standard]
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-core
langchain-groq
langchain-huggingface
faiss-cpu
pypdf
python-multipart
google-generativeai
PyJWT
passlib[bcrypt]
sqlalchemy
httpx
python-dotenv